{% extends 'new_app/layoute.html' %}

{% block title %}
    <title>Интересные факты</title>
{% endblock %}

{% block content %}

    <h4>Птицы — удивительные создания, которые поражают своим разнообразием и способностями. </h4>
    <br>
    <br>
    <p>Знаете ли вы, что колибри — единственные птицы, которые могут летать задом наперед? Эти миниатюрные акробаты способны делать до 80 взмахов крыльями в секунду!</p>
    <br>
    <p>Ученые полагают, что некоторые виды птиц, такие как голуби, могут ориентироваться по магнитному полю Земли. Это помогает им находить дорогу на огромные расстояния во время миграции. А буревестники, например, могут пролетать тысячи километров без остановки, используя воздушные потоки над океанами.</p>
    <br>
    <p>Интересно, что у сов уши расположены асимметрично, что позволяет им точно определять направление звука и быть эффективными охотниками в темноте. А пингвины, несмотря на свою неуклюжесть на суше, являются отличными пловцами и могут нырять на глубину до 500 метров!</p>
    <br>
    <p>Птицы также играют важную роль в экосистемах: они распространяют семена растений и контролируют численность насекомых. Изучение поведения и адаптаций птиц не только раскрывает тайны природы, но и вдохновляет на создание новых технологий, таких как роботы-дроны, сконструированные по принципу полета птиц.</p>
    <br>
    <h4>Мир пернатых полон удивительных открытий, и чем больше мы о них узнаем, тем больше восхищаемся их удивительными способностями</h4>

{% endblock %}