{% extends 'new_app/layoute.html' %}

{% block title %}
    <title>Пернатые друзья</title>
{% endblock %}

{% block content %}

    <h1>Добро пожаловать на наш сайт, посвященный удивительному миру птиц!</h1>
    <br>
    <br>
    <h3>Здесь вы найдете захватывающую информацию о самых разнообразных видах пернатых обитателей нашей планеты.</h3>
    <br>
    <br>
    <p>Птицы – это не только красота природы, но и важнейшая часть экосистемы. Они вдохновляют нас своим пением, поражают разнообразием окраски и удивляют уникальными повадками.</p>
    <br>
    <p>На нашем сайте вы сможете узнать о привычках и среде обитания различных видов птиц, получить советы по наблюдению и уходу за пернатыми друзьями, а также открыть для себя множество интересных фактов об их жизни. Мы стремимся сделать знания о птицах доступными для всех, от начинающих орнитологов до опытных любителей природы.</p>
    <br>
    <br>
    <h4>Присоединяйтесь к нашему сообществу и делитесь своими наблюдениями и фотографиями. Вместе мы сможем лучше понять и сохранить этот прекрасный мир, полный пернатого великолепия и удивительных открытий!</h4>

{% endblock %}