<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'new_app/css/style.css' %}">
    {% block title %}{% endblock %}

    <!-- Подключаем Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid d-flex flex-column min-vh-100">
        <div class="row flex-grow-1">

            <main class="col-md-9">
                <div class="p-3">
                    {% block content %}{% endblock %}
                </div>
            </main>

            {% include 'new_app/menu.html' %}

        </div>
        {% include 'new_app/footer.html' %}
    </div>

    <!-- Подключаем Bootstrap JS и зависимости -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>