{% load static %}

        <aside class="col-md-3 bg-light p-3">

            <div class="text-center mb-4">
                <img src="{% static 'new_app/img/bird.png' %}" alt="Птичка" class="img-fluid rounded-circle flipped-image" width="100">
                <br>
                <h2 class="mt-2">Пернатые друзья</h2>
                <br>
            </div>

            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link btn btn-primary w-100 mb-2" href="{% url 'home' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary w-100 mb-2" href="{% url 'see' %}">Наблюдение птиц</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary w-100 mb-2" href="{% url 'love' %}">Уход за птицами</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary w-100 mb-2" href="{% url 'fact' %}">Интересные факты о птицах</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary w-100 mb-2" href="{% url 'news_home' %}">Новости</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary w-100 mb-2" href="{% url 'add_news' %}">Добавить новость</a>
                </li>
            </ul>

        </aside>